/* About  */
#about-container {
  padding: 1em;
  height: 100vh;
}
#about-section {
  margin-top: 20px;
  overflow: hidden;
}

.about-title {
  font-family: "Overpass Mono", "PT Mono", "San Francisco", "SF Pro Text",
    -apple-system, system-ui, BlinkMacSystemFont, Roboto, "Helvetica Neue",
    "Segoe UI", Arial, sans-serif;
  color: #fff;
  letter-spacing: 1px;
  border-bottom: 1px solid #34c3ff;
  padding-bottom: 0.5em;
}
.about-title a {
  text-decoration: none;
  font-size: 1.4em;
}
.about-exp-list {
  display: flex;
  align-items: center;
  flex-direction: row;
  padding-top: 1em;
  width: 100%;
  margin-bottom: 0;
  padding-left: 0;
  overflow: scroll;
}

.about-exp-list li {
  font-size: 1em;
  padding: 2em;
  list-style: none;
}

.about-exp-list li a {
  font-family: "Overpass Mono", "PT Mono", "San Francisco", "SF Pro Text",
    -apple-system, system-ui, BlinkMacSystemFont, Roboto, "Helvetica Neue",
    "Segoe UI", Arial, sans-serif;
  color: #fff;
  letter-spacing: 1px;
  border-bottom: 1px solid #34c3ff;
  padding-bottom: 0.5em;
  text-decoration: none;
}
.about-list-wrapper {
  max-width: 100vw;
}
.about-exp-wrapper {
  height: 300px;
  background: rgba(0, 0, 0, 0.2);
}
.about-desc {
  color: #8892b0;
  font-size: 1.1em;
  padding: 0.5em;
  letter-spacing: 0.4px;
}
.profile-picture-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile-picture-wrap .profile-picture {
  border-radius: 20px;
  width: 180px;
  max-height: 170px;
}
