.main-content {
  height: 100vh;
  display: flex;
  align-items: center;
}
.main-my-name {
  font-size: 40px;
  font-weight: bold;
  letter-spacing: 1px;
}
.main-my-title {
  font-size: 40px;
  font-weight: bold;
  color: #8892b0;
}

.main-my-desc {
  color: #8892b0;
  font-size: 1.1em;
  margin-top: 20px;
  letter-spacing: 0.4px;
}
.content-1 {
  max-height: 100vh;
  padding: 1.2em;
}
.content-1-text {
  text-align: left;
  font-family: Calibre, "San Francisco", "SF Pro Text", -apple-system, system-ui,
    BlinkMacSystemFont, Roboto, "Helvetica Neue", "Segoe UI", Arial, sans-serif;
}

/* Logo */
.main-content-logo {
  display: none;
}

.sidebar-links {
  visibility: hidden;
}

@media (min-width: 481px) {
  /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
}
@media (min-width: 641px) {
  /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
  .main-my-name {
    font-size: 55px;
  }
  .main-my-title {
    font-size: 55px;
  }
  .content-1 {
    max-height: 100vh;
    padding: 2.5em;
  }
  .content-1-text {
    font-size: 1.3em;
    max-width: 80%;
  }
  /* Logo */
  .main-content-logo {
    display: block;
  }
}
@media (min-width: 961px) {
  /* tablet, landscape iPad, lo-res laptops ands desktops */
  .main-my-name {
    font-size: 65px;
  }
  .main-my-title {
    font-size: 65px;
  }
  .content-1-text {
    font-size: 1.6em;
    max-width: 70%;
    margin-left: 4em;
    transform: translateY(-10%);
  }
  .sidebar-links {
    visibility: visible;
  }
}
@media (min-width: 1025px) {
  /* big landscape tablets, laptops, and desktops */
  .main-content {
    justify-content: center;
  }
  .content-1 {
    display: flex;
    justify-content: center;
    transform: translateX(-10%);
  }
  .content-1-text {
    max-width: 50%;
  }
  .main-my-desc {
    margin-top: 10px;
    font-size: 0.8em;
    max-width: 90%;
  }
}
@media (min-width: 1281px) {
  /* hi-res laptops and desktops */
}

/* Media screen size */
@media screen and (min-width: 768px) {
}
